<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BDAPP.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BDAPP.Propirties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BDAPP.Settings1>
            <setting name="filepath" serializeAs="String">
                <value>C:\Users\glkru\source\repos\BDAPP\BDAPP\logic\AppSettingsParse\RealSAppSettimgs.json</value>
            </setting>
        </BDAPP.Settings1>
        <BDAPP.Propirties.Settings1>
            <setting name="Filepath" serializeAs="String">
                <value>C:\Users\glkru\source\repos\BDAPP\BDAPP\logic\AppSettingsParse\RealSAppSettimgs.json</value>
            </setting>
        </BDAPP.Propirties.Settings1>
    </userSettings>
</configuration>